@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

/* Conteudo - mesa principal */
body {
    background: linear-gradient(#E4F69A,#CAF71A,#DCFB62);
    height: 860px;
}

/* Sessao notas */
.sessao-notas {
    position: absolute;
    color: #1E1E1E;
    font-family: 'itim';
    left: 20px;
    height: 700px;
}
h3#sn-title {
    position: relative;
    cursor: pointer;
    top: 20px;
    left: 16px;
    font-size: 30px;
    text-decoration: underline;
}
section.sessao-notas img {
    position: relative;
    cursor: pointer;
    left: 20px;
    top: 30px;
}
section.sessao-notas ul {
    position: relative;
    list-style: none;
}
figure.nota-container {
    position: relative;
    margin: 0;
    padding: 0;
    width: 50%;
}
.nota-img {
    position: relative;
    opacity: .5;
    transition: .5s;
    margin: 0;
    padding: 0;
}
li.nota-itm :hover .nota-img {
    opacity: 100%;
}
span.icone-item {
    position: relative;
    display: block;
    padding: 0;
    margin: 0;
    left: 105px;
}
#icon-delete {
    position: relative;
    cursor: pointer;
    opacity: .6;
    top: -5px;
}
#icon-edit {
    position: relative;
    cursor: pointer;
    opacity: .6;
    top: -81px;
}

/* Sessao nota */
section#sessao-postit {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}
/* Textarea */
textarea#folha-escreve {
    position: relative;
    top: -500px;
    left: 160px;
    padding: 0;
    margin: 0;
    width: 400px;
    height: 200px;
    background: rgba(0,0,0,.0001);
    border: none;
    font-family: 'itim';
    font-size: 60px;
    text-align: center;
}

figure#container-new-note {
    position: relative;
    padding: 0%;
    margin: 0;
}
figure#container-new-note img {
    position: relative;
    width: 80px;
    height: 80px;
    left: 640px;
    top: -840px;
    cursor: pointer;
}
.icon-new-note:active {
    opacity: 50%;
}

figure#container-salvar-nota {
    position: relative;
    padding: 0;
    margin: 0;
}
figure#container-salvar-nota img {
    position: relative;
    width: 80px;
    height: 80px;
    left: 635px;
    top: -840px;
    cursor: pointer;
}
#container-salvar-nota:active {
    opacity: 50%;
}
/* Rodape */
footer#rodape {
    position: absolute;
    border: 1px black solid;
    width: 100%;
    top: 860px;
    height: 50%;
    background-color: black;
    color: whitesmoke;
    text-align: center;
    font-family: 'Itim';
    font-size: 15pt;
}
